# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
env/
ENV/

# Distribution
build/
dist/
*.egg-info/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log
logs/

# ==========================================
# Python cache
# ==========================================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================================
# Environment
# ==========================================

.env
.env.*

# sauf les exemples
!.env.example

# ==========================================
# Secrets
# ==========================================

*.pem
*.key
*.crt
*.p12
*.jks
*.pfx

# ==========================================
# Local configuration
# ==========================================

config/local.yaml
inventory/local.yaml

# ==========================================
# Helm
# ==========================================

helm/**/charts/
helm/**/tmp/
helm/**/.helmignore

# ==========================================
# Temporary files
# ==========================================

*.tmp
*.bak
*.swp
*.swo

# ==========================================
# OS
# ==========================================

.cache/

#
# Payload exemple
#

.*.payload